/* html, body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
} */

/* ==============================================
Général
=================================================*/
@font-face {
    font-family: "chlorinp";
    src: url(../font/CHLORINP.TTF);
}

body {
    background-color: #000;
    color: #fff;
    margin: 0rem;
    padding : 0rem;
}


/* ==============================================
Choix de l'arme
=================================================*/
h1 {
    text-align: center;
    font-family: "chlorinp", Arial, serif;
    letter-spacing: 1rem;
    font-size: 3rem;
    color: rgb(249, 161, 76);
}

/*Container principal (qui contient Container des armes et Container du bouton */
.containerChooseWeapon {
    display: flex;
    justify-content: space-evenly;
    font-family: "chlorinp", Arial, serif;
    letter-spacing: 0.5rem;
}

/* Container des armes */
.containerListWeapons {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* pour que le bouton soit aligné en bas sur le texte */
.containerChooseWeapon ul,
.containerListWeapons li {
    padding: 0rem;
    margin: 0rem;
}

.containerListWeapons li {
    display: inline-block;
}

li#rockHand,
li#paperHand,
li#scissorsHand {
    padding : 0.2rem;
}

li#rockHand img,
li#paperHand img,
li#scissorsHand img {
    display: block;
    margin: 0rem auto;
}

.weaponSelectedStyle {
    border-top: 5px solid rgb(249, 161, 76);
    border-bottom: 5px solid rgb(249, 161, 76);
}

/* Container du bouton */
.containerButton {
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yellowCoin {
    display: none;
    margin-bottom : 1.5rem;
}

#fightButton {
    height: 25px;
    width: 100px;
    border-top : 4px solid #fff;
    border-bottom: 4px solid rgb(239, 62, 36);
    border-right : none;
    border-left : none;
    background-color: rgb(249, 161, 76);
    font-weight: bold;
}

#fightButton:hover {
    height: 37.5px;
}

/* ==============================================
Zone de combat
=================================================*/

#containerFight {
    position : absolute;
    bottom : 0rem;
    right: 50%;
    left :50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}